<!--Regular Datatables CSS-->
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
<!--Responsive Extension Datatables CSS-->
<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
<!--Button Extension Datatables CSS-->
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css">
<style>
    /* Overrides to match the Tailwind CSS */

    .dataTables_wrapper {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem
    }

    table.dataTable.no-footer {
        border-bottom-width: 1px;
        border-color: #fafafa;
    }

    .dataTables_wrapper .dataTables_paginate {
        padding: 1rem
    }

    table.dataTable thead tr th {
        background-color: #fafafa;
        border-bottom-width: 1px;
        /* border-top-width: 1px; */
        border-color: rgb(232, 232, 232);
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current:not(.disabled),
    .dataTables_wrapper .dataTables_paginate .paginate_button.next:not(.disabled),
    .dataTables_wrapper .dataTables_paginate .paginate_button.previous:not(.disabled),
    .dataTables_wrapper .dataTables_paginate .paginate_button:not(.disabled),
    button.dt-button {
        transition-duration: 150ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #374151 !important;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        font-size: 0.75rem;
        font-weight: 600;
        align-items: center;
        display: inline-flex;
        border-width: 1px !important;
        border-color: #d2d6dc !important;
        border-radius: 0.375rem;
        background: #ffffff;
        overflow: visible;
        margin-bottom: 0
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.next:focus:not(.disabled),
    .dataTables_wrapper .dataTables_paginate .paginate_button.next:hover:not(.disabled),
    .dataTables_wrapper .dataTables_paginate .paginate_button.previous:focus:not(.disabled),
    .dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover:not(.disabled),
    .dataTables_wrapper .dataTables_paginate .paginate_button:focus:not(.disabled),
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover:not(.disabled),
    button.dt-button:focus,
    button.dt-button:focus:not(.disabled),
    button.dt-button:hover,
    button.dt-button:hover:not(.disabled) {
        background-color: #edf2f7 !important;
        border-width: 1px !important;
        border-color: #d2d6dc !important;
        color: #374151 !important
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current:not(.disabled) {
        color: rgb(29, 165, 122) !important;
        border-color: rgb(29, 165, 122) !important;
    }
</style>
<div class="w-full mt-5 ml-5 mb-5 mr-5">
    <div class="grid grid-cols-1">
        <p class="text-2xl">Book list</p>
    </div>
    <div class="flex mb-4">
        <div class="pt-2 relative text-gray-600 w-1/4 h-12">
            <form method="POST">
                <input
                    class="transition duration-500 appearance-none block w-full bg-white-200 text-gray-700 border border-gray-400 rounded py-1 px-4 leading-tight focus:outline-none focus:bg-white focus:border-teal-500 focus:shadow-inner hover:border-teal-500"
                    type="search" name="search" placeholder="Search" value="<%=search%>">
                <button id="btnSearch" type="submit" class="absolute right-0 top-0 mt-4 mr-4">
                    <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                        viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;"
                        xml:space="preserve" width="512px" height="512px">
                        <path
                            d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                    </svg>
                </button> </form>
        </div>
        <div class="w-3/4 h-12">
            <button
                class="modal-open py-2 px-4 mt-2 text-center float-right bg-teal-600 rounded-md text-white text-sm hover:bg-teal-500 focus:outline-none focus:shadow-outline focus:border-blue-300"
                type="button">
                Add book
            </button>
        </div>
    </div>
    <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
        <div class="inline-block min-w-full rounded-lg overflow-hidden">
            <table id="grBook" class="min-w-full leading-normal mr-4" style="border: 1px solid #f2f2f2;">
                <thead>
                    <tr>
                        <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Title
                        </th>
                        <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Author
                        </th>
                        <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Created at
                        </th>
                        <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Notfound data -->
                    <% if(!books){ %>
                    <tr>
                        <td colspan="4">
                            <div class="container mx-auto h-full flex justify-center items-center">
                                <div class="h-32 mt-12">
                                    <svg width="64" height="41" viewBox="0 0 64 41" xmlns="http://www.w3.org/2000/svg">
                                        <g transform="translate(0 1)" fill="none" fill-rule="evenodd">
                                            <ellipse fill="#F5F5F5" cx="32" cy="33" rx="32" ry="7"></ellipse>
                                            <g fill-rule="nonzero" stroke="#D9D9D9">
                                                <path
                                                    d="M55 12.76L44.854 1.258C44.367.474 43.656 0 42.907 0H21.093c-.749 0-1.46.474-1.947 1.257L9 12.761V22h46v-9.24z">
                                                </path>
                                                <path
                                                    d="M41.613 15.931c0-1.605.994-2.93 2.227-2.931H55v18.137C55 33.26 53.68 35 52.05 35h-40.1C10.32 35 9 33.259 9 31.137V13h11.16c1.233 0 2.227 1.323 2.227 2.928v.022c0 1.605 1.005 2.901 2.237 2.901h14.752c1.232 0 2.237-1.308 2.237-2.913v-.007z"
                                                    fill="#FAFAFA"></path>
                                            </g>
                                        </g>
                                    </svg>
                                    <p class="text-gray-500 ml-1">No data</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% } %>

                    <!-- has data -->
                    <% if(books){ %>
                    <% books.forEach(function(book){ %>
                    <tr>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <div class="flex items-center">
                                <div class="flex-shrink-0 w-10 h-10">
                                    <img class="w-full h-full rounded-full"
                                        src="<%=book.img_cover==""?"images/notfound.png":book.img_cover%>"
                                        alt="" />
                                </div>
                                <div class="ml-3">
                                    <a href="#" class="edit-modal">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            <%=book.title%>
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <p class="text-gray-900 whitespace-no-wrap"> <%=book.author%></p>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <p class="text-gray-900 whitespace-no-wrap">
                                <%=book.create_date%>
                            </p>
                        </td>
                        <td class="flex px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                                width="24px" height="40px"
                                style="enable-background:new 0 0 512 512;opacity: 0.7;cursor: pointer;" class="btnedit"
                                xml:space="preserve" data-id="<%=book._id%>">
                                <g>
                                    <g>
                                        <g>
                                            <polygon
                                                points="85.333,282.64 85.333,362.64 165.333,362.64 378.667,149.307 298.667,69.307 			" />
                                            <path d="M441.707,56.08L391.893,6.267c-8.32-8.32-21.867-8.32-30.187,0L320,47.973l80,80l41.707-41.707
				C450.027,77.947,450.027,64.4,441.707,56.08z" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="40px"
                                class="book-delete" viewBox="0 0 488.936 488.936"
                                style="enable-background:new 0 0 488.936 488.936;margin-left: 10px;opacity: 0.7;cursor: pointer;"
                                xml:space="preserve" data-id="<%=book._id%>">
                                <g>
                                    <g>
                                        <path d="M381.16,111.948H107.376c-6.468,0-12.667,2.819-17.171,7.457c-4.504,4.649-6.934,11.014-6.738,17.477l9.323,307.69
			c0.39,12.92,10.972,23.312,23.903,23.312h20.136v-21.012c0-24.121,19.368-44.049,43.488-44.049h127.896
			c24.131,0,43.893,19.928,43.893,44.049v21.012h19.73c12.933,0,23.52-10.346,23.913-23.268l9.314-307.7
			c0.195-6.462-2.234-12.863-6.738-17.513C393.821,114.767,387.634,111.948,381.16,111.948z" />
                                        <path d="M309.166,435.355H181.271c-6.163,0-11.915,4.383-11.915,11.516v30.969c0,6.672,5.342,11.096,11.915,11.096h127.895
			c6.323,0,11.366-4.773,11.366-11.096v-30.969C320.532,440.561,315.489,435.355,309.166,435.355z" />
                                        <path d="M427.696,27.106C427.696,12.138,415.563,0,400.591,0H88.344C73.372,0,61.239,12.138,61.239,27.106v30.946
			c0,14.973,12.133,27.106,27.105,27.106H400.59c14.973,0,27.105-12.133,27.105-27.106L427.696,27.106L427.696,27.106z" />
                                    </g>
                                </g>
                            </svg>
                        </td>
                    </tr>
                    <% }); %>

                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include ('book_dialog.ejs') %>
<script type="text/javascript"
    src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.22/b-1.6.4/b-flash-1.6.4/b-html5-1.6.4/b-print-1.6.4/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        // add class
        let table = $('#grBook').DataTable({
            "searching": false,
            "lengthChange": false,
            "info": false
        });
    });

    var currentId = '';

    function deleteCallback(val) {
        if (val == true) {
            var data = { "id": currentId }
            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                url: '/book/delete',
                success: function (res) {
                    if (res.type == "success") {
                        toggleModalConfirm();
                        $('#btnSearch').trigger('click');
                    } else {
                        $('#dmess').show();
                        $('#message_error').html(res.description);
                    }
                }
            });
        }
    }

    var editmodal = document.querySelectorAll('.book-delete')
    for (var i = 0; i < editmodal.length; i++) {
        editmodal[i].addEventListener('click', function (event) {
            event.preventDefault()
            currentId = $(this).data('id');
            toggleModalConfirm("Are you sure delete this book.", deleteCallback)
        })
    }
</script>