html
    head
        title=title
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
        link(rel='stylesheet',href='./stylesheets/style.css')
    body
            .text-center
                form(class="form-signin" method="POST" acction="/login")
                    - var h1Classes=['h3','mb-3','font-weight-normal']
                    h1(class=h1Classes) Please sign in
                    
                    //- input mail
                    input(type="email" name="username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus)
                    
                    //- input password
                    input(type="password" name="password" id="inputPassword" class="form-control" placeholder="password" required)

                    //- remember checkbox
                    - var divClasses=['checkbox','mb-3'];
                    div(class=divClasses)
                        label
                            input(type="checkbox" value="remember-me")
                            span  Remember me
                    
                    //- signin button
                    - var buttonClass=['btn','btn-lg','btn-primary','btn-block'];
                    button(class=buttonClass type="submit") Sign in

                    - var pClass=['mt-5','mb-3','text-muted'];
                    p(class=pClass) Copy right 2020
                    